# Enviroment
/env

# secrets
/src/secrets/**

# Cache
**/__pycache__/
.pytest_cache/

# Video
/src/tracks/**

# Mock files
mock_file_process.txt
mock_file_postprocess.txt

# Logs
/log.log

# Whisper model
src/whisper/whisper_models/
